<html lang="en" ng-app="wolf">
  <head>
    <title>Loup-Garou</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
    <script src="js/js.js"></script>
  </head>
  <body class="night container-fluid" ng-controller="mainView">
    <!-- HEADER -->
    <div id="header" class="d-flex align-items-center pt-3 pb-3 mb-3">
      <img src="img/logo.gif" class="mr-auto">
      <span class="badge badge-light mr-4 p-2">Code Postal: <span ng-bind="game_id"></span></span>
      <button class="btn btn-info align-middle d-flex" ng-if="!started" ng-click="show_card()">
        Commencer
      </button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="player-list-item p-3" ng-repeat="user in users">
          <a href="" ng-bind="user.user_name"></a><i class="material-icons">person</i>
        </div>
        <div ng-if="users.length == 0"><p>Le village est vide...</p></div>
      </div>

    <!-- KILL -->
    <div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
